
/*RESPONSIVE MOBILES*/

@media (min-width: 300px) and (max-width: 767px) {

  /* PARAMETRES GENERAUX */

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  H3 {
    font-size: 16px;
  }

  /*  HEADER MENU */

 

  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .headerimg {
    order: 0;
  }
  .headerSignup {
    order: 1;
  }
  .headerNav {
    order: 2;
  }
  .headerNavLink {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
  }
  
  .headerNavLink:hover {
    border-bottom-color: #0065FC;
    border-top: none;
  }



  /* PARAMETRES DU DISPLAY BOUTON LOUPE */

  .loupelogo i {
    display: inline;
    color: white;
    background-color: #0065fc;
    padding: 18px;
    border-radius: 18px;
    position: relative;
    right: 52px;
  }

  .boutonderecherche {
    display: none;
  }

  /* FILTRES */

  .filtres {
    display: grid;
  }

  .titrefiltres {
    margin-bottom: 10px;
  }

  .barreFiltre {
    width: 60%;
    margin-bottom: 10px;
  }

  

  /* HEBERGEMENTS ET POPULAIRES */

  .hebergementetpop {
    display: flex;
    flex-direction: column;
  }

  /* PARAMETRES HEBERGEMENTS */

  #Hebergements {
    width: 100%;
    background-color: white;
    order: 2;
    width: 100%;
    margin: 0%;
    padding: 0;
  }

  .hebergementmarseille {
    display: flex;
    flex-direction: column;
  }

  .hotel {
    width: 95%;
    height: 210px;
    font-size: 14px;
  }

  .hotelpop {
    width: 95%;
    padding: 5px;
    margin: 8px;
    font-size: 14px;
  }

  /* PARAMETRES HEBERGEMENTS POPULAIRES */

  #pluspopulaires {
    width: 100%;
    margin: 0;
    padding: 10px;
    order: 1;
    display: grid;
  }

  /* PARAMETRES ACTIVITES */

  .containerActivites {
    display: grid;
    height: auto;
    margin-bottom: 25px;
    justify-content: normal;
    -moz-margin-start: -60px;
  }

  .blocActivite {
    width: auto;
  }

  .Activite img {
    width: 100%;
    height: 100px;
  }

  .Activite {
    margin-bottom: 30%;
    height: 70px;
    -moz-margin-start: 62px;
  }

  .nomactivite {
    padding: 8px 0px 5px 20px;
    border-radius: 0 0 1.25rem 1.25rem;
    border-color: transparent;
    box-shadow: 0 5px 16px #0000002e;
    margin-top: -12px;
  }

  /* FOOTER*/

  .blockFooter {
    display: grid;
  }

  .interieurblockFooter {
    width: auto;
  }
}
