@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600;700&display=swap');

body {
font-family: 'Raleway', sans-serif;
font-weight: 100;
margin: 5px;
}

#principale {
  width: 1070px;
  margin: auto;
  background: white;
  padding: 10px;
  align-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}


/*   Entete logo + ancre  */




.header {
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
}
.headerImg {
  grid-area: logo;
  height: 2.813rem;
}
.headerNav {
  display: flex;
  align-items: center;
  grid-area: navbar;
}
.headerNavLink {
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
.headerNavLink {
  color: #000000;
}
.headerNavLink:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;
}
.headerSignup {
  display: flex;
  align-items: center;
  grid-area: button;
  color: #0065FC;
  font-weight: 600;
}




/*   Paragraphe sous logo  */

#p_titre{
  font-weight: 600;
}

/*   Recherche  */

#divRecherche {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
}

#divRecherche > div{
  margin: 0px;
  flex-flow: row wrap;
}

.champsRecherche {
  font-weight: 600;
  margin: 0px;
  text-indent: 1em;
  width: 200px;
  padding: 0px;
  height: 40px;
  border: solid;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #F2F2F2;
}

.buttonRecherche {
  font-weight: 300;
  margin: 0px;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #0065FC;
  color: #ffffff;
  border:none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-map-marker-alt {
  color: #000000;
  height: 18px;
  width: 25px;
  text-align: center;
  background: #F2F2F2;
  padding: 10px;
  margin: 0px;
  border: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: 1px;
  border-color: #F2F2F2;
  border-right-width: 0px;
}


/*   Liens Filtres   */

#container_item_filtre {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0 0;
}

.filtreTitre {
  position: relative;
  flex-flow: row wrap;
  margin: 10px 20px 20px 0;
  text-align: center;
  font-weight: 600;
  top: 9px;
}
.filtreEconomique {
  position: relative;
  width: 170px;
  flex-flow: row wrap;
  margin: 10px;
}
.filtreFamilial {
  position: relative;
  width: 130px;
  flex-flow: row wrap;
  margin: 10px;
}
.filtreRomantique {
  position: relative;
  width: 160px;
  flex-flow: row wrap;
  margin: 10px;
}
.filtreAnimaux {
  position: relative;
  width: 205px;
  flex-flow: row wrap;
  margin: 10px;
}

.filtre{
  position: relative;
}

.filtre a{
  border: solid;
  border-radius: 30px;
  border-width: 1px;
  border-color: #cdcdcd;
  display: block;
  height: 35px;
  line-height: 35px;
  text-indent:2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-decoration: none;
  background: #ffffff;
  text-align: center;
  color: #000000;
  transition: all .40s;
}

.filtre a:hover{
  background: #0065FC;
  color: #ffffff;
}

.filtre_icon{
  position: absolute;
  left: -1px;
  top: 0px;
  transition: all .35s;
  border-radius: 35px;
  background-color: #DEEBFF;
  width: 37px;
  height: 37px;
}

.fa-money-bill-wave {
  position: absolute;
  left:8px;
  top: 10px;
  color: #0065FC;
}

.fa-child {
  position: absolute;
  left:12px;
  top: 10px;
  color: #0065FC;
}

.fa-heart {
  position: absolute;
  left:10px;
  top: 11px;
  color: #0065FC;
}

.fa-dog {
    position: absolute;
    left:10px;
    top: 10px;
    color: #0065FC;
  }

/*   Paragraphe info recherche ville   */


.searchResult {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.searchResultWrapicon {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.searchResultWrapiconIcon {
  color: #0065FC;
}
.searchResultText {
  margin: 0;
}


/*  liste hebergement   */

#containerListeHebergement {
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  align-content: center;
}

#divListeHebergement {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  font-weight: 600;
  padding: 15px;
  background: #F2F2F2;
  border-radius: 15px;
  width: 650px;
  margin-right: 20px;
}

.p_titreHebergement {
  flex-flow: row wrap;
  position: relative;
  top: 0px;
}

/*  liste items hebergement   */


.blockHebergementItem {
  display: flex;
  flex-wrap: wrap;
  background :#F2F2F2;
  width: 100%;
  margin: auto;
  align-content: center;
}

.blockHebergementItem > div {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  width: 180px;
  margin: 0 auto 20px auto ;
  align-content: center;
  padding: 3px;
  border-radius: 20px;
  box-shadow: 0 0 15px #bebebe;
}

.blockHebergementItemImg {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.itemBlockText {
  display: block;
  line-height: 0.5em;
  margin-left: 10px;
}

.titreItem  {
  font-size: 14px;
  font-weight: 600;
}

.offreItem  {
  font-size: 14px;
  font-weight: 100;
}

.prixBold  {
  font-weight: 600;
}

.noteItemBleu  {
  color: #0065FC;
}

.noteItemGris  {
  color: #F2F2F2;
}

/*  liste hebergement populaire  */

#divHebergementPop {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  font-weight: 600;
  padding: 15px;
  background: #F2F2F2;
  border-radius: 15px;
  width: 340px;
}

#divHebergementPop > div {
  flex-flow: row wrap;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}


.enteteHebergementPop_titre {
  float: left;
}

.enteteHebergementPop_icone {
  float: right;
}

/*  liste Activite   */

#containerListeActivite {
  display: flex;
  flex-wrap: wrap;
}

#divListeActivite {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  padding: 25px;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 1px;
  width: 1100px;
}

/*   Pied   */

#pied {
  display: flex;
  flex-wrap: wrap;
  background: #F2F2F2;
  padding: 10px;
  width: 1050px;
  margin: auto;
}

#pied > div {
  flex-flow: row wrap;
  padding-right: 80px;
}

#pied p {
  flex-flow: row wrap;
  font-weight: 600;
}

#pied > div > a  {
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  color: #000000;
  transition: all .15s;
  line-height: 2em;
}

#pied a:hover {
  color: #0065FC;
}






/*   tablette version   */


@media only screen and (max-width: 1024px) {

  body{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 5px;
  }

  #principale {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
    align-content: center;
  }

/*   Entete logo + ancre  */

    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .headerimg {
      order: 0;
    }
    .headerSignup {
      order: 1;
    }
    .headerNav {
      order: 2;
    }

    .headerNavLink {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
    }
    
    .headerNavLink:hover {
      border-bottom-color: #0065FC;
      border-top: none;
    }

/*   Hebergements + populaire*/

  #divListeHebergement {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    order: 2;
    background: #F2F2F2;
    border-radius: 15px;
    width: 90%;
    margin: 0 0 0 0;
  }

  #divHebergementPop {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    font-weight: 600;
    background: #F2F2F2;
    border-radius: 15px;
    width: 95%;
    margin: 0 0 30px 0;
  }

/*   Footer  */

  #pied {
    display: flex;
    flex-wrap: wrap;
    background: #F2F2F2;
    padding: 10px;
    width: 95%;
    margin: auto;
  }
}





/*   mobile version  */

@media only screen and (max-width: 600px) {

  body{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 5px;
  }

  #principale {
    max-width: 357px;
    margin: auto;
    background: white;
    padding: 10px;
    align-content: center;
  }

/*   Entete logo + ancre  */

.header {
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo . button" "navbar navbar navbar";
}
.headerimg {
  order: 0;
}
.headerSignup {
  order: 1;
}
.headerNav {
  order: 2;
}
.headerNavLink {
  border-top: none;
  border-bottom: 3px solid #F2F2F2;
  width: 50%;
}

.headerNavLink:hover {
  border-bottom-color: #0065FC;
  border-top: none;
}

/*   Hebergements + populaire*/

  #divListeHebergement {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    order: 2;
    background: #F2F2F2;
    border-radius: 15px;
    width: 95%;
    margin: 0 0 0 0;
  }

  .blockHebergementItem > div {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    width: 100%;
    margin: 0 auto 20px auto ;
    align-content: center;
    padding: 3px;
    border-radius: 20px;
    box-shadow: 0 0 40px #0000002e;
  }

  #divHebergementPop {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    font-weight: 600;
    background: #F2F2F2;
    border-radius: 15px;
    width: 95%;
    margin: 0 0 30px 0;
  }

/*   Footer  */

  #pied {
    display: flex;
    flex-wrap: wrap;
    background: #F2F2F2;
    padding: 10px;
    width: 95%;
    margin: auto;
  }
}