/* PARAMETRES GENERAUX DE POLICE */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
  font-weight: 400;
}

p {
  font-family: "Raleway";
}

/* PARAMETRES DE LA PAGE */

#blocpage {
  margin: auto;
  width: 80%;
}

/* PARAMETRES DU HEADER */

/* le conteneur */

.header {
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
}
.headerImg {
  grid-area: logo;
  height: 2.813rem;
}
.headerNav {
  display: flex;
  align-items: center;
  grid-area: navbar;
}
.headerNavLink {
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
.headerNavLink {
  color: #000000;
}
.headerNavLink:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;
}
.headerSignup {
  display: flex;
  align-items: center;
  grid-area: button;
  color: #0065FC;
  font-weight: 600;
}


a {
  text-decoration: none;
  color: black;
}

.inscrire a {
  color: #0065fc;
  margin-right: 0%;
}

.inscrire a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
}

.inscrire {
  padding-left: 28px;
}

/* le texte d'accroche */

.subtext {
  margin-bottom: -35px;
}

/* le formulaire de recherche */

.logosearch {
  display: inline-flex;
  margin-top: 15px;
  align-items: center;
}

button {
  background-color: #0065fc;
  border: solid;
  padding: 15px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  margin: 0 -50px;
}

.iconemap {
  font-size: 25px;
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  padding: 10px 10px;
  width: 30px;
  height: 32px;
  text-align: center;
}

input {
  padding: 10px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5em;
  width: 60%;
  height: 50px;
  font-size: 15px;
}

.boutonderecherche {
  border-radius: 0px 18px 18px 0;
  padding: 15px;
  background-color: #0065fc;
  color: white;
  position: relative;
  right: 43px;
}

.loupelogo i {
  display: none;
}

/* Mise en forme des filtres*/

.titrefiltres {
  font-size: 1.3em;
  margin: 0 20px 0 0;
}

.titre {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
  padding-right: 1.5em;
  padding-left: 0.5em;
}

.barreFiltre:hover {
  background: #0065fc;
  color: #fff;
  transition: 0.4s ease-in-out;
}

.barreFiltre {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 2em;
  border: 1px solid #d9d9d9;
  border-radius: 2em;
}

.filtres {
  display: flex;
  align-items: center;
  width: 100%;
}

.imagefiltre {
  padding: 15px 15px;
  border-radius: 50px;
  background-color: #d9d9d9;
}

.fas {
  color: #0065fc;
}

.fa-map-marker-alt {
  color: black;
}

/* la ligne information */

.info {
  display: flex;
  align-items: center;
}

.fa-info {
  text-align: center;
  color: #0065fc;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  border: solid 1px #d9d9d9;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;
  font-size: 12px;
}

/* PARAMETRES HEBERGEMENT ET POPULAIRES */

.hebergementetpop {
  display: flex;
  margin: 25px 0 50px;
}

/* PARAMETRES HEBERGEMENTS */

#Hebergements {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 62%;
  padding: 20px;
  margin: 0 25px 0 0;
}

.hebergementmarseille {
  display: flex;
  flex-wrap: wrap;
}

.hotel {
  width: 30%;
  width: calc(33.3% - 10px);
  background: white;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 5px 20px 5px;
  box-shadow: 0 5px 16px #0000002e;
}


.hotel img {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.hotel p {
  margin: 5px 10px;
  font-weight: 100;
}

.hotel h3 {
  margin: 3px 10px;
}

.etoiles {
  margin: 3px 20px;
}

.main {
  display: flex;
}

.afficherplus {
  color: black;
  padding-left: 8px;
}

.euro {
  font-weight: 500;
}

/* PARAMETRES HEBERGEMENTS POPULAIRES */

#pluspopulaires {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 32%;
  padding: 20px;
  display: flex;
}

.hebergementspop {
  position: relative;
}

.hotelpop {
  display: flex;
  width: 100%;
  background: white;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  margin: 0px 0px 20px 0px;
  height: 145px;
  box-shadow: 0 5px 16px #0000002e;
}


.popimage {
  background-color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  float: left;
  width: 45%;
  height: 92%;
  border-radius: 15px 0 0 15px;
  margin: 2px 10px 2px 0px;
  object-fit: cover;
}

.fa-chart-line:before {
  content: "\f201";
  margin-top: -17px;
  color: black;
}

.titresection_G {
  float: left;
}

.titresection_D {
  float: right;
}

.grey {
  color: lightgrey;
}

.hotelpop h3 {
  margin: 7px;
}

.hotelpop p {
  margin: 0px;
  font-weight: 100;
}

.etoilespop {
  margin: 30px;
}
/* PARAMETRES DE LA SECTION ACTIVITE */

#Activite {
  width: 80%;
}

.containerActivites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 496px;
  margin-top: 30px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.blocActivite {
  width: 23%;
}

.Activite {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}


.titresection {
  color: black;
  font-size: 1.3em;
  padding-left: 8px;
}

.Activite img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}

.activite1et4img {
  height: 417px;
}

.activite2img {
  height: 200px;
}

.activite3img {
  height: 110px;
}

.activite5img {
  height: 140px;
}

.activite6img {
  height: 140px;
}

.nomactivite {
  padding: 0 0px 5px 20px;
}

.Activite2 {
  margin: 0px 0px 61px;
}

.Activite5 {
  margin: 0px 0px 92px;
}

/* PARAMETRES DU FOOTER */

footer {
  background-color: #f2f2f2;
}

.blockFooter {
  display: flex;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.interieurblockFooter {
  width: 40%;
}

.footerTitre {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}

.lignesFooter {
  color: black;
  display: block;
  margin: 15px 0;
  font-weight: 500;
}



@media (min-width: 1025px) and (max-width: 1600px) {
  #pluspopulaires {
    display: grid;
  }
}
