/*  TABLETTE */

@media (min-width: 768px) and (max-width: 1024px) {

  /* TEXTE DU HEADER */
  .subtext {
    text-align: left;
    margin-bottom: 15px;
  }

  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .headerimg {
    order: 0;
  }
  .headerSignup {
    order: 1;
  }
  .headerNav {
    order: 2;
  }

  .headerNavLink {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
  }
  
  .headerNavLink:hover {
    border-bottom-color: #0065FC;
    border-top: none;
  }
  
  /* FORMULAIRE DE RECHERCHE */

  .logosearch {
    margin-bottom: 10px;
  }

  /* FILTRES */

  .filtres {
    display: flex;
    flex-wrap: wrap;
  }

  .titre {
    font-size: 12px;
  }
  
  .barreFiltre {
    width: auto;
    margin-bottom: 10px;
  }

  .info {
    align-items: CENTER;
    position: relative;
  }

  /* HEBERGEMENTS ET POPULAIRES */

  .hebergementetpop {
    margin: 25px 0 50px;
    display: FLEX;
    flex-direction: column;
  }

  .titresection {
    text-align: center;
    padding-bottom: 5px;
  }

  /* PARAMETRES HEBERGEMENTS */

  #Hebergements {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    margin-bottom: 20px;
    border-radius: 0;
  }

  /* PARAMETRES HEBERGEMENTS POPULAIRES */

  #pluspopulaires {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
  }

  footer {
    border-radius: 0;
  }
}